.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 7%;
}

.form {
  margin-right: 10%;
}

.for {
  margin-right: 8%;
}

input {
  padding: 5px 10px;
}

h2 {
  margin-right: 8%;
}

h4 {
  font-size: 20px;
  margin-right: 1%;
}

button {
  padding: 10px 80px;
  background-color: skyblue;
  border: none;
  color: white;

}

.lastb {
  padding: 10px 50px;
  background-color: rgb(123, 230, 96);
  border: none;
  color: white;

}

.btn {
  padding: 10px 50px;
  background-color: rgb(116, 159, 176);
  border: none;
  color: white;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}